@import "mixines";
@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

input, select{
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
  background: transparent;
  color: #FFFFFF;
  border-color: rgba(255,255,255,.5);
  border-radius: 10px;

  &:active, &:focus{
    border-width: 2px;
    border-color: #2da6f9;
  }
}

.logo{
  display: block;
}

.header{
  margin-top: 15px;
  position: sticky;
  top: 0;
  background: rgba(3, 3, 3, .9);
  z-index: 2;
  &__inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu{
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item{

  }
  &__list-link{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: rgba(255,255,255,.5);
    transition: color .3s;
    position: relative;
    &.active:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
      border-radius: 2px;
    }
    &:hover{
      color: rgba(255,255,255,1);
    }
  }
}
.menu-account{
  display: flex;
  align-items: center;
  &__list{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__list-item:not(:first-child){
    display: inline-block;
    margin-left: 70px;
  }
  &__list-link{
    //display: block;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    transition: opacity .3s;
    &:hover{
      opacity: 1;
    }
  }
}
.top{
  &__inner{
    background: url("../images/top_bg.jpg") center top / 100% no-repeat;
    min-height: 780px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #2F2E2E;
    }
  }
  &__content{
    max-width: 600px;
    width: 100%;
    margin-left: 80px;
    padding-top: 200px;
  }
  &__title{
    font-family: 'Marcellus', sans-serif;
    font-weight: normal;
    font-size: 100px;
    line-height: 170%;
    color: #FFFFFF;

  }
  &__badge{
    display: flex;
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    margin-bottom: 25px;
    span:not(:last-child){
      margin-right: 20px;
    }
    &-censored {
      padding: 2px;
      position: relative;
      background: linear-gradient(300deg, #26FFF2 15%, #326CFF 60%);
      border-radius: 12px;
      span{
        width: 64px;
        height: 24px;
        background: #000000;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__description{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #C2C2C2;
    width: 100%;
    max-width: 480px;
  }
  &__buttons{
    margin-top: 25px;
  }
  &__buttons-watch{
    margin-right: 30px;
    svg{
      margin-right: 10px;
      fill: #323232;
      transition: all .3s;
    }
    &:hover{
      svg{
        fill: #FFFFFF;
        transition: all .3s;
      }
    }
  }

}
.slider{
  &__hover{
    &:hover{
      .slider__item{
        transition: all .5s ease-in;
        transform: scale(1.2);
      }

    }
  }
  &__wrapper{
    position: relative;
  }
  &__control{
    display: inline-block;
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(50%);
  }
  &__title{
    font-size: 28px;
    line-height: 70%;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  &__tv ,&__movies, &__channel, &__actors{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  &__item{
    width: 100%;
    border-radius: 20px;
    transition: all .5s ease-in;
  }
  &__channel-item{
    max-width: 280px;
    width: 100%;
    height: 118px;
    border-radius: 20px;
    text-align: center;
    //padding: 45px;
    color: #FFFFFF;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__actors-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__actors-img{
    display: block;
    border-radius: 50%;
  }
  &__actors-name{
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    color: #FFFFFF;
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.popular{
  margin-top: 100px;
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: #FFFFFF;
    text-align: center;

  }
  &__item{
    padding: 45px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    p{
      margin-top: 7px;
    }
  }
}
.new{
  margin-top: 100px;
  &__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
    img{
      border-radius: 20px 0 0 20px;
    }
  }
  &__coming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
    line-height: 20px;
    margin-top: 30px;
  }
}
.banner{
  margin: 120px 0;
  &__inner{
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: url("../images/banner.png") center center / 100% no-repeat ;
    min-height: 270px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  &__text{
    margin-left: 60px;
    font-weight: 700;
    max-width: 792px;
    font-size: 64px;
    line-height: 100%;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  &__button{
    position: absolute;
    right: 10%;
    top: 45%;
  }
}
.btn{
  background: transparent;
  color: #FFFFFF;
  outline: none;
  border-radius: 10px;
  border-width: 2px;
  border-color: #000000;
  padding: 5px 10px;
  cursor: pointer;
  &__primary{
    border-width: 2px;
    border-color: #2da6f9;
  }
  &__form{
    width: 100%;
    border-width: 2px;
    border-color: #2da6f9;
    margin-right: 0;
  }

}
.admin{
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }
}
.users{
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-column-gap: 10%;
    grid-row-gap: 5%;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.films{
  &__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-column-gap: 10%;
    grid-row-gap: 10%;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(255,255,255,.5);
    padding: 10px;
    border-radius: 10px;
  }
  &__thumb{
    width: 50px;
  }
  &__delete{
    border: 2px solid #2da6f9;
  }
  &__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.delete_film{
  width: 100%;
  margin-bottom: 10px;
}


.authorization{
  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__login{
    display: flex;
    justify-content: center;
    &.hidden{
      display: none;
    }
  }
  &__register{
    display: flex;
    justify-content: center;
    &.hidden{
      display: none;
    }
  }
}
.form{
  width: 100%;
  max-width: 320px;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 70%;
    color: #FFFFFF;
    margin: 40px auto;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link{
    margin-top: 10px;
    color: #FFFFFF;
  }
  &__control{
    display: flex;
    margin-bottom: 10px;
    & label{
      margin-left: 20px;
    }
    & input, select{
      max-width: 250px;
    }
    & select{
      color: red;
    }

  }
}
.add{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.movies{
  &__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
  }
  &__link{
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all .5s ease-in;
    & img{
      border-radius: 10px;
    }
    &:hover{
      transition: all .5s ease-in;
      border-color: #2da6f9;
      transform: scale(1.1);
    }

  }
}
.swiper-wrapper{
  padding: 50px 0;
}


.slider__control{
  display: inline-block;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(50%);
}

.single{
  &__wrapper{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__content{
    max-width: 600px;
    width: 100%;
    margin-left: 80px;
    margin-top: 100px;
    padding: 25px;
    background: rgba(0,0,0,.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);

  }
  &__title{
    font-family: 'Marcellus', sans-serif;
    font-weight: normal;
    font-size: 100px;
    line-height: 170%;
    color: #FFFFFF;
  }
  &__badge{
    display: flex;
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    margin-bottom: 25px;
    span:not(:last-child){
      margin-right: 20px;
    }
    &-censored {
      padding: 2px;
      position: relative;
      background: linear-gradient(300deg, #26FFF2 15%, #326CFF 60%);
      border-radius: 12px;
      span{
        width: 64px;
        height: 24px;
        background: #000000;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__description{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #C2C2C2;
    width: 100%;
    max-width: 480px;
  }
  &__buttons{
    margin-top: 25px;
  }
  &__buttons-watch{
    margin-right: 30px;
    svg{
      margin-right: 10px;
      fill: #323232;
      transition: all .3s;
    }
    &:hover{
      svg{
        fill: #FFFFFF;
        transition: all .3s;
      }
    }
  }
}

.footer{
  &__content{
    padding: 30px 0;
    background: rgba(255,255,255,.1);
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__nav-link{
    color: #C2C2C2;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    display: inline-block;
  }
  &__social-list{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__social-item{
    display: block;
  }
  &__social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  &__logo-link{
    display: flex;
    justify-content: center;

  }
}